.todo-form {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    width: 100%;
}

.todo-form > input:nth-child(1) {
    width: 75%;
}

.todo-form > input:nth-child(2) {
    width: 25%;
    border: 0;
}

.todo-form > input:nth-child(1):focus,
.todo-form > input:nth-child(2):focus {
    outline:0px !important;
    -webkit-appearance: none;
}

.todo-submit {
    color: black;
    background: rgba(0,0,0,0);
    background: #D3D3D3;
    border: solid 2px #fdfdfd;
    padding: 10px;
    cursor: pointer;
}