.v1-about-container {
  width: 80%;
}

@media (min-width: 800px) {
  .v1-about-introduction {
    width: 60%;
  }
}

@media (min-width: 1000px) {
  .v1-about-introduction {
    width: 50%;
  }
}

.v1-about-introduction {
  line-height: 175%;
  font-size: 1.2em;
}