.page-enter {
  opacity: 0.01;
}

.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity 1s cubic-bezier(.45,0,0,1);
  -webkit-transition: opacity 1s cubic-bezier(.45,0,0,1);
  -moz-transition: opacity 1s cubic-bezier(.45,0,0,1);
  -ms-transition: opacity 1s cubic-bezier(.45,0,0,1);
  -o-transition: opacity 1s cubic-bezier(.45,0,0,1);
}

.page-leave {
  opacity: 1;
}

.page-leave.page-leave-active {
  opacity: 0.01;
  transition: opacity 100s cubic-bezier(.45,0,0,1);
  -webkit-transition: opacity 100s cubic-bezier(.45,0,0,1);
  -moz-transition: opacity 100s cubic-bezier(.45,0,0,1);
  -ms-transition: opacity 100s cubic-bezier(.45,0,0,1);
  -o-transition: opacity 100s cubic-bezier(.45,0,0,1);
}