.board {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.board-row {
  width: 100%;
  height: 33.3333333333333333333333333333333333333333333333333333333333%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.board-row > .square {
  border-radius: 5%;
  font-weight: bold;
  height: 100%;
  line-height: 100%;
  background: #fff;
  border: 1px solid #d3d3d3;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.30);
  text-align: center;
  padding: 0;
  width: 33.3333333333333333333333333333333333333333333333333333333333%;
}

.tictactoe-button {
  font-family: sans-serif;
}

.board-row > .square:focus {
  outline: none;
}

.board-row > .square > .green {
  color: #45B69C;
}

.board-row > .square > .red {
  color: #EA526F;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.board-row > button {
  font-size: 20vw;
}

@media (min-width: 700px) {
  .board-row > button {
    font-size: 14vw;
  }
}

@media (min-width: 1100px) {
  .board-row > button {
    font-size: 10vw;
  }
}