.v1-project-container {
  width: 80%;
}

.v1-project-information {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: 25px;
}

.v1-project-links {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 30%;
}

.v1-project-tech {
  width: 100%;
}

.v1-project-background {
  width: 65%;
  margin-right: 5%;
}

.v1-project-background > h3 {
  margin-top: 0px;
}

.v1-project-image-container {
  width: 60%;
  padding-bottom: 20px;
}