li {
    width: 100%;
    word-wrap: break-word;
    display: flex;
}

.list-item {
    margin-bottom: 10px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 100%;
    background-color: white;
    min-height: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.todo-item-title {
    width: 70%;
}