.v1-project-link {
  width: 100%;
  padding: 10px;
  color: #fdfdfd;
  background: rgba(0,0,0,0);
  border: solid 2px #fdfdfd;
  cursor: pointer;
  margin-bottom: 25px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.v1-project-link-container {
  width: 100%;
}

.v1-project-link:hover, .v1-project-link.hover {
  border-color: yellow;
  color: yellow;
}

.v1-disabled {
  pointer-events: none;
  cursor: default;
  border: solid 2px #363946;
  color: #363946;
}

.v1-project-link > hr {
  display: none;
}

.v1-disabled > hr {
  display: initial;
  position: absolute;
  width: 100%;
  height: 2px;
  border: 0px;
  background-color: grey;
  transform: translate3d(0px, -7px, 0px);
}