.v1-contact-container {
  width: 80%;
}

.v1-contact-intro-form {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: 25px;
}

.v1-contact-text {
  width: 100%;
  margin-bottom: 25px;
  font-size: 1.2em;
  line-height: 150%;
}

.v1-contact-form {
  width: 100%;
}

@media (min-width: 600px) {
  .v1-contact-form {
    width: 70%;
  }
}

@media (min-width: 850px) {
  .v1-contact-text {
    width: 40%;
    margin-right: 10%;
  }
  
  .v1-contact-form {
    width: 50%;
  }
}